extends ../../layout/user

block vars 
  -title = 'MyFurnish | Profile'
  -heading = 'Order'
  -selection = heading.toLowerCase();

mixin orderItem(orderDetail, item, presented= false)
      .order-item__img 
        img(src="/images/products/" + orderDetail.product.slug + '.png', alt="")
      .order-item__info
        h4.order-item__name.heading.text-lg.color-heading.font-weight-normal= orderDetail.product.name
        if (item.length > 1 && presented)
          p.order-item__desc.text-md.text-start(data-name='order-desc')= 'and ' + (item.length - 1) + ' more...'
      .flex.flex-col.justify-between.ml-auto 
        span.text-end= 'x' + orderDetail.quantity 
        span.text-end= '$' + (orderDetail.quantity * orderDetail.product.price)

block userMain
  ul.order-list 
    each item, index in orderInfos
      li(data-name='order-item')
        button.order-item.w-100(data-name='order-btn')
          header.order-item__header.flex.justify-between.px-3
            .order-item__order
            .order-item__date= item.date
          ul.px-3
            li.order-item__main.pt-3.pb-2
              +orderItem(item.orderDetails[0], item, true)
          .order-item-container.px-3(data-open='false')
            ul
              each orderDetail, index in item.orderDetails
                if (index !== 0)
                  li.order-item__main.pt-3.pb-2
                    +orderItem(orderDetail, item)
              li.flex.justify-between 
                p Delivery & handle
                p.text-end= '$' + item.shippingCost
          .order-item__footer.mx-3.py-1
            .flex.justify-between
              span.order-item__status= item.status
              b.order-item__price.text-lg.text-end.fw-bold= 'Total: $' + item.totalPrice

block scripts 
  script(src="../js/pages/order.js" type='module')