mixin navGroup(text, src, href="", className='', imgClassName="")
  a(href= href class= className).nav-group
    img.nav-action__icon(src= '/images/base/' + src, alt= text, class= imgClassName)
    span.nav-action__text= text
    block 

mixin productActionSet(setClass)
  .product-action(class= setClass)
    block 

mixin productActionItem(itemClass="", iconClass="")
  button.product-action__item(class= itemClass)
    i(class= iconClass)

mixin accessoriesItem(heading, newPrice, imgSrc)
  .col.col-4.xl-4.lg-6.md-6.sm-12 
    figure.accessories-item.product-item.action-horizontal  
      .accessories-item__top.product-item__top 
        .accessories-item__img.product-item__img 
          img(srcSet= imgSrc , loading="lazy", alt= heading)
        +productActionSet("product-action--horizontal")
          +productActionItem("","fa-solid fa-cart-plus")
          +productActionItem("","fa-regular fa-heart")
          +productActionItem("","fa-solid fa-magnifying-glass")
      .accessories-item__bottom.product-item__bottom 
        figcaption.accessories-item__heading.text.text-lg.text-center.color-heading.font-secondary= heading
        .accessories-item-price.text.text-sm.text-center.color-heading 
          span.accessories-item-price__new= '$' + newPrice

mixin productItem(product_name, slug, price)
  figure.accessories-item.product-item.action-horizontal  
    .accessories-item__top.product-item__top
      a.accessories-item__img.product-item__img(href="/products/" + slug)
        img(srcSet="/images/products/" + slug + '.png' , loading="lazy", alt= product_name)
      +productActionSet("product-action--horizontal")
        +productActionItem("","fa-solid fa-cart-plus")
        +productActionItem("","fa-regular fa-heart")
        +productActionItem("","fa-solid fa-magnifying-glass")
    .accessories-item__bottom.product-item__bottom 
      figcaption.accessories-item__heading.text.text-lg.text-center.color-heading.font-secondary= product_name
      .accessories-item-price.text.text-sm.text-center.color-heading 
        span.accessories-item-price__new= price

mixin topProductItem(heading, price, imgSrc)
  .col.col-3.xl-6.lg-6.md-6.sm-12 
    figure.product-top-item.product-item.action-rounded.obs-transition.fade.side-half-up 
      .product-top-item__top.product-item__top 
        .product-top-item__img.product-item__img 
          img(srcSet= imgSrc , alt= heading)
        +productActionSet("product-action--rounded")
          +productActionItem("","fa-solid fa-cart-plus")
          +productActionItem("","fa-regular fa-heart")
          +productActionItem("","fa-solid fa-magnifying-glass")
      .product-top-item__bottom.product-item__bottom 
        figcaption.product-top-item__heading.heading.heading-xs.heading-center.font-primary= heading
        span.product-top-item__price.text.text-md.text-center.color-heading= price

mixin homeBlogItem(heading, author, date, desc, imgSrc)
  figure.home-blog-item.obs-transition.fade
    .home-blog-item__img 
      img(srcSet= imgSrc, loading="lazy", alt= heading)
    .home-blog-item__info.text.text-sm.color-heading.font-primary.color-heading   
      .home-blog-item__info-group 
        img(src="../images/home/sign.svg", loading="lazy", alt="sign")
        span.home-blog-item__author= author 
      .home-blog-item__info-group  
        img.home-blog-item__date-img(src="../images/home/date.svg", loading="lazy", alt="calendar")
        time.home-blog-item__time= date
    .home-blog-item__content 
      figcaption.home-blog-item__heading.text.text-lg.color-heading.font-primary= heading
      p.home-blog-item__desc.text.text-md.font-secondary= desc
      a(href="./404-not-found.html").home-blog-item__cta.text.text-md.font-secondary.color-heading Read more

mixin mainHeader(title)
  section.main-header 
    .container.main-header__container
      h1.main-header__title.font-primary= title
      nav.breadcrumb
        ol.breadcrumb__list 
          li.breadcrumb__item 
            a(href= homePageLink).breadcrumb__link Home 
          li.breadcrumb__item.breadcrumb__item--active
            a(href="#").breadcrumb__link= title

mixin onTrendingItem(type, name, price, imgSrc, dataIndex)
  figure(class="product-item on-trending-item on-trending-item--" + type, data-index= dataIndex)
      figcaption.on-trending-item__name.font-secondary= name
      .on-trending-item__img.product-item__img 
        img(src= imgSrc, alt="a chair")
      span.on-trending-item__price= price
      +productActionSet("product-action--bottom-left")
          +productActionItem("","fa-solid fa-cart-plus")
          +productActionItem("","fa-regular fa-heart")
          +productActionItem("","fa-solid fa-magnifying-glass")

mixin bannerStick(title, caption, desc, imgSrc, btnText= "view all products", alt= "Furniture")
  section.banner-stick.container
    .banner-stick__content.font-primary.obs-transition.fade
      h3.banner-stick__title= title 
      p.banner-stick__caption= caption 
      p.banner-stick__desc.font-secondary= desc
      a(href= POPLink).banner-stick__cta.btn.btn-md.btn-solid.btn-primary= btnText
    .banner-stick__img
      img(src= imgSrc, loading="lazy", alt= alt)

mixin productForm(action= '', name='', description='', category_id='', qty='', price='')
  section.container
    form#add-product.form.form-center(action= action, method='POST')
      h2.heading.heading-xl.color-accent.text-center= heading
      .form-group
        label.form-label(for='product-name') Product name
        input#product-name.form-control(name="name", type='text', value=name required)
      .form-group
        label.form-label(for='description') Product description
        textarea#description.form-control(name="description", cols="30", rows="5", type='text-area')= description
      .form-group.inline
        label.form-label(for='category-id') Product category
        select.select#category-id(name="categoryId" form="add-product" required) Category
          option(value='' disabled selected= category ? null : '') Category
          each category in categories
            -const selected = category_id === category.id
            option(value=category.id selected= selected)= category.name 
      .form-group.inline
        label.form-label(for='quantity') Product quantity
        input#quantity.form-control(name="quantity", type='number', value= qty required)
      .form-group.inline
        label.form-label(for='price') Product price
        input#price.form-control(name="price", type='number', value= price required)
      button.btn.btn-primary.btn-solid.btn-md(name="", type='submit') SAVE

//- User pages